<template>
<div></div>
</template>

<script>
  export default {
    name: 'FinishStep',
    props: {
      hotel: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {};
    },
  };
</script>
