<template>
  <div class="container">
    <div class="row" id="row">
      <div class="paragraphs">
      <p class="text-muted">Welcome! Let's book a room you'll love.</p>
      <p class="text-muted">Please provide us with the information stated below, we will handle the data with care.</p>
      <hr>
      <div class="col-md-2">
        <label class="radio-inline"><input type="radio" name="optradio" value="mr" v-model="formData.gender.value">Mr</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="ms" v-model="formData.gender.value">Ms</label>
      </div>

      <div class="col-md-5">
        <label for="Firstname">First Name</label>
        <input type="text" class="form-control" id="Firstname" :placeholder="mrMs" v-model="formData.firstName.value">
      </div>

      <div class="col-md-5">
        <label for="Lastname">Last Name</label>
        <input type="text" class="form-control" id="Lastname" placeholder="Doe" v-model="formData.lastName.value">
      </div>
      <br><br><br><br>
      <div class="col-md-4">
        <label for="Departure" class="text-muted">Departure Date</label>
        <input type="date" class="form-control" id="Departure">
      </div>

      <div class="col-md-4">
        <label for="Return" class="text-muted">Return Date</label>
        <input type="date" class="form-control" id="Return">
      </div>

      <div class="col-md-4">
        <label for="rooms" class="text-muted">Rooms</label>
          <select class="form-control" id="rooms">
            <option>1 Room</option>
            <option>2 Rooms</option>
            <option>3 Rooms</option>
            <option>4 Rooms</option>
          </select>
      </div>
      <br><br><br><br>
      <hr>
      <a href="#" id="Cancel">Cancel</a>
      <router-link to="/book"><button class="btn btn-danger" id="button">Pick a room<span class="glyphicon glyphicon-chevron-right"></span></button></router-link>
      <button type="button" name="button" @click="next()">next</button>
    </div>
  </div>
</div>
</template>

<script>
  export default {
    name: 'InformationStep',
    props: {
      data: {
        type: Object,
        required: true,
      }
    },

    data() {
      return {
        formData: {
          gender: {
            value: 'mr',
            error: '',
          },
          firstName: {
            value: '',
            error: '',
          },
          lastName:{
            value:'',
            error:'',
          },
        }
      };
    },

    computed:{
      mrMs(){
        return this.formData.gender.value==='mr' ? 'John' : 'Jane';
      }
    },
    methods: {
      next() {
        this.$emit('step:next');
      }
    }
  };
</script>

<style>
.paragraphs{
  background-color: white;
  border-radius: 5px;
  padding: 50px 0px 35px 0px;
}
 p{
   padding-left: 20px;
 }
.col-md-2{
  padding-top: 30px;
}

#button{
  margin-left: 5px;
}

#Cancel{
  padding-left: 975px;
}

footer{

}
</style>
