<template>
<div>
  <p>LOLOLOLO</p>
</div>
</template>

<script>
  export default {
    name: 'Roomstep',
    props: {
      hotel: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {};
    },
  };
</script>
