.active{
  border-bottom: 5px solid red;
}

body{
background-color: #E8E8E8;
}

.row{
    padding: 50px 0px 30px 0px;
}

strong{
  font-size: 18px;
}

.fa-building-o{
  font-size: 20px;
}

footer{
  width: 100%;

}
