<template>
<div class="container">
  <div class="row activity">
        <div class="container">
            <div class="col-sm-4">
                <div class="sectionhgh">
                    <div class="circle">
                        1
                    </div>
                    <p>
                        Select a date
                    </p>
                    <small>
                        Choose the length of your stay.
                    </small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="sectionun">
                    <div class="circle">
                        2
                    </div>
                    <p>
                        Pick a ticket type
                    </p>
                    <small>
                        Choose a room which fits your needs.
                    </small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="sectionun">
                    <div class="circle">
                        3
                    </div>
                    <p>
                        Finish order
                    </p>
                    <small>
                        Check and confirm your reservation.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <h2 style="padding-left: 20px"><b>The Student Hotel The Hague</b></h2>
    <InformationStep v-if="currentPage === 1" :data="data" @step:next="nextPage()"/>
    

</div>
</template>

<script>
import InformationStep from '@/steps/InformationStep.vue';
import Roomstep from '@/steps/Roomstep.vue';
import FinishStep from '@/steps/FinishStep.vue';

export default{
  name:'booking',

  components:{
    InformationStep,
    Roomstep,
    FinishStep,
  },

  data(){
    return {
      currentPage: 1,
      data: {
        firstName:'',
        lastName:'',
        totalRooms:0,
      },
    }
  },
  methods:{
    nextPage(){
      this.currentPage++;
    }
  }
}
</script>

<style>
.sectionhgh .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    color: white;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    background-color: #ff3333;
    margin-right: 10px;
}

.sectionhgh p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
    color: #535353;
}

.sectionhgh small{
    font-size: 12px;
    color: #bebebe;
}

.sectionun .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 14px 14px;
    color: #bebebe;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.sectionun p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
    color: #bebebe;
}

.sectionun small{
    font-size: 12px;
    color: #bebebe;
}

.sectioncmp .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 14px 14px;
    color: white;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    background-color: #cccccc;
    margin-right: 10px;
}

.sectioncmp p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
}

.sectioncmp small{
    font-size: 12px;
    color: #bebebe;
}

.activity {
    margin-top: 50px;
}
</style>
