<template>
<div class="container">
  <h2><b>Contact us</b></h2>
  <h3 style="color:red;"><b>Feel free to send us a message</b></h3>

  <div class="row">

    <div class="col-md-2" id="Mr-Ms">
      <label class="radio-inline"><input type="radio" name="optradio" value="mr" v-model="formData.gender.value">Mr</label>
      <label class="radio-inline"><input type="radio" name="optradio" value="ms" v-model="formData.gender.value">Ms</label>
    </div>

    <div class="col-md-5">
      <label for="Firstname">First Name</label>
      <input type="text" class="form-control" id="Firstname" :placeholder="mrMs" v-model="formData.firstName.value">
    </div>

    <div class="col-md-5">
      <label for="Lastname">Last Name</label>
      <input type="text" class="form-control" id="Lastname" placeholder="Doe" v-model="formData.lastName.value">
    </div>

    <div class="col-md-12">
      <label for="Subject">Subject</label>
      <input type="text" class="form-control" id="subject" placeholder="Subject..." v-model="formData.subject.value">
      <br>
      <label for="comment">Message</label>
      <textarea class="form-control" rows="3" id="comment" placeholder="..." v-model="formData.comment.value"></textarea>
      <hr>
      <button href="#" class="btn btn-danger btn-lg pull-right" @click="send()">
        Send <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: 'contact',

    data() {
      return {
        formData: {
          gender: {
            value: 'mr',
            error: '',
          },
          firstName: {
            value: '',
            error: '',
          },
          lastName:{
            value:'',
            error:'',
          },
          subject:{
            value:'',
            error:'',
          },
          comment:{
            value:'',
            error:'',
          },
        }
      };
    },

    methods: {
      send() {
        console.log(this.formData);
      }
    },

    computed:{
      mrMs(){
        return this.formData.gender.value==='mr' ? 'John' : 'Jane';
      }
    }
  }
</script>

<style>
  #Contact{
    padding: 120px 0px 60px 0px;
  }

.col-md-2{
  padding-bottom: 20px;
}
</style>
