<template>
  <div class="container">
    <h2><b>Explore Our Hotels</b></h2>
    <h3 style="color:red;"><b>Find the hotel that suits you best!</b></h3>
    <input type="text" v-model="searchString" placeholder="Search Your Hotel !" id="Search">
  <hotel-item v-for="(hotel, key) in filteredHotels" :key="key" :hotel="hotel"></hotel-item>
</div>
</template>

<script>
  import HotelItem from '@/components/HotelItem';
  import Hotel from '@/models/Hotel';
  import axios from 'axios';

  export default{
    name: 'Explore',
    components: {
      HotelItem,
    },

    data(){
      return{
        searchString:'',
        hotels: [],
      };
    },

    computed:{
      filteredHotels(){
        return this.hotels.filter((hotel) => {
          return hotel.name.toLowerCase().includes(this.searchString.trim().toLowerCase());
        });
      }
    },

    mounted() {
      const data = [
          {
            name:'The Student Hotel The Hague',
          },
          {
            name:'The Student Hotel Maastricht',
          },
          {
            name:'Generator Amsterdam',
          },
        ];

        axios.get('data/data.json').then((response) => {
          this.hotels = response.data.map(Hotel.fromJSON)
        }).catch((err) => {
          console.log(err);
        });
      }
    }
</script>

<style>
  .container{
    text-align: left;
  }
  #Search{
    text-align: center;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;
    margin-top: 30px;
    border-color: red;
    outline: none;
  }

  #Explore{
    padding: 40px 0px 60px 0px;
  }
</style>
