<template>
  <div class="container">
  <h2><b>Top Pick of the Month</b></h2>
  <h3 style="color:red ; font-size: 25px;"><b>The Student Hotel The Hague</b><span class="fa fa-star" style="padding-left:570px; color:gray;"></span><span class="fa fa-star" style="color:gray;"></span><span class="fa fa-star" style="color:gray;"></span></h3>

    <div class="row">
      <div class="span4">
        <img style="float:left" src="../assets/Hotel.jpg" width="550" height="400"/>

        <p class="text-muted">This months top pick is The Student Hotel The<br>Hague. With the lounge/bar as one of the top<br>facilities. Order a drink and enjoy your stay!</p>
        <p class="text-muted">Hoefkade 9 The Hague</p>
        <br>
        <i class="fa fa-coffee" style="font-size:24px"></i>
        <i class="fa fa-cutlery" style="font-size:24px"></i>
        <i class="fa fa-wifi" style="font-size:24px"></i>
        <i class="fa fa-book" style="font-size:24px"></i>
        <br><br>
        <h4><b>Rating</b></h4>
        <p class="text-muted">Guestscore 3/5. <a href="#">View reviews(3)</a></p>
        <br>
        <h4><b>Let's book a room!</b></h4>
        <p class="text-muted">Hotel rooms starting at €79,- per nigth</p>
        <br>
        <button href="#" class="btn btn-danger">Book this Hotel <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
      <center><h2><b>We have about 1 hotel waiting to be booked!</b></h2></center>
        <br>
        <center><button href="#" class="btn btn-danger" style="margin-bottom: 50px;">Explore Hotels <span class="fa fa-compass"></span></button></center>
    </div>
</template>

<script>
import HotelItem from '@/components/HotelItem';

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
