<template>
  <div class="container">
      <div class="row">
        <div class="paragraphs">
          <img style="float:left" src="../assets/Hotel.jpg" width="450" height="326"/>
          <h3><b>{{hotel.name}}</b>
          <span class="fa fa-star" style="padding-left:200px"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span></h3>
          <p class="text-muted"><q class="fa fa-location-arrow" style="font-size:20px"></q> {{hotel.address}}</p>
          <br>
          <p class="text-muted" style="font-style:italic">{{hotel.description}}</p>
          <br>
          <i class="fa fa-coffee" style="font-size:24px"></i>
          <i class="fa fa-cutlery" style="font-size:24px"></i>
          <i class="fa fa-wifi" style="font-size:24px"></i>
          <i class="fa fa-book" style="font-size:24px"></i>
          <br><br>
          <h4><b>Let's book a room!</b></h4>
          <p class="text-muted">Hotel rooms starting at €{{hotel.rooms[0].price}}, per night</p>
          <router-link to="/book"><button class="btn btn-danger">Book this Hotel <span class="glyphicon glyphicon-chevron-right"></span></button></router-link>
        </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HotelItem',
    props: {
      hotel: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {};
    },
  };
</script>

<style>
.paragraphs{
  background-color: white;
  border-radius: 5px;
  padding: 50px 0px 50px 0px;
}

img{
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 40px;
}

.row{
  padding: 30px 0px 30px 0px;
}

i{
 background-color: lightgray;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
}

.fa-star{
  font-size: 18px;
}
</style>
