<template>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><q class="fa fa-building-o" style="font-size:25px;color:red"></q><b> Hotel</b> Booking</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/explore">Explore Hotels</router-link></li>
            <li><router-link to="/contact">Contact</router-link></li>
        </ul>
      </div>
  </nav>
    <router-view/>
    <footer>
    <div class="container">
      <div class="col-md-4" id="Explore">
        <address>
          <p class="text-primary"><span class="fa fa-building-o"><b> Hotel Booking</b></span></p>
          <p class="text-muted">Nieuwmansstraat 123<br>
          1234 AB The Hague<br>
          The Netherlands<br><br>
          &copy; 2018 Hotel Booking</p>
        </address>
      </div>

      <div class="col-md-4" id="Explore">
          <strong>Useful links</strong><br>
          <a href="../ExploreHotels/index.html">Explore Hotels</a><br>
          <a href="#">Reviews</a><br>
          <a href="#">A link</a><br>
          <a href="#">Another link</a><br>
          <a href="#">Different link</a>
      </div>

      <div class="col-md-4" id="Explore">
          <strong>The Company</strong><br>
          <a href="#">About us</a><br>
          <a href="#">Careers</a><br>
          <a href="#">Press centre</a><br>
          <a href="#">Terms & Conditions</a><br>
          <a href="../Contactus/index.html">Contact us</a>
      </div>
    </div>
  </footer>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: red;
  border-bottom: 5px solid red;
}

#nav a.router-link-exact-active {
  color: red;
  border-bottom: 5px solid red;
}

footer{
  background-color: lightgray;
}
</style>
